<section class="products-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <article>
    Lorem ipsum dolor sit amet, ut vim adhuc nostro reprehendunt, eum ex munere scriptorem. Nostro vivendo eu duo, adhuc everti vis in. Pri ut probo minim mnesarchum, pro aliquip invidunt consequuntur et. No sea fabulas definiebas. Cum nibh nullam omnium ex, semper delicata vis eu. Nostro aliquando efficiantur an eam.

    Ei solet dictas pri, nec et saepe abhorreant, sed volumus referrentur at. Ex eum populo doming semper, minimum repudiandae est ad, sit at ridens quodsi fabellas. Vidit legere posidonium vim ei, mollis persius perpetua qui ea, eum no audiam delicatissimi. Has eleifend petentium ex. Labore eligendi qui cu, agam putant omittam id mel, ad porro melius pro.
  </article>

</section>